:root{
    --textPrimary: #0f0f0f;
    --textSecondary: #4e4e4e;
    --bgPrimary: #304D30;
    --shadow: 7px 15px 13px -4px #00000056;
    --border: #1f1e1e;
    --accent: #163020;
    --accentHover: #B6C4B6; 
}
[data-theme='dark'] {
    --textPrimary: #EEF0E5;
    --textSecondary: #a7a4a4;
    --bgPrimary: #111827;
    --shadow: 7px 15px 13px -4px #ffffff1b;
    --border: #696969;
    --accent: #B6C4B6;
    --accent-hover: #304D30; 
}